            <tmpl_if name="edit_disabled">
                <div class="form-group">
                    <label for="domain_disabled" class="col-sm-3 control-label">{tmpl_var name='domain_txt'}</label>
                    <div class="col-sm-9"><select name="domain_disabled" id="domain_disabled" class="form-control" disabled="disabled">
                        {tmpl_var name='domain_option'}
                    </select></div>
                    <input type="hidden" name="domain" value="{tmpl_var name='domain_value'}" />
                </div>

                <div class="form-group">
                    <label for="list_name_disabled" class="col-sm-3 control-label">{tmpl_var name='list_name_txt'}</label>
                    <div class="col-sm-9"><input type="text" name="list_name_disabled" id="list_name_disabled" value="{tmpl_var name='list_name'}" class="form-control" disabled="disabled" /></div><input type="hidden" name="list_name" value="{tmpl_var name='list_name_value'}" />
                </div>
                <tmpl_else>
                    <div class="form-group">
                        <label for="domain" class="col-sm-3 control-label">{tmpl_var name='domain_txt'}</label>
                        <div class="col-sm-9"><select name="domain" id="domain" class="form-control">
                            {tmpl_var name='domain_option'}
                        </select></div>
                    </div>
                    <div class="form-group">
                        <label for="list_name" class="col-sm-3 control-label">{tmpl_var name='list_name_txt'}</label>
                        <div class="col-sm-9"><input type="text" name="list_name" id="list_name" value="{tmpl_var name='list_name'}" class="form-control" /></div>
                    </div>
            </tmpl_if>

            <div class="form-group">
                <label for="display_name" class="col-sm-3 control-label">{tmpl_var name='display_name_txt'}</label>
                <div class="col-sm-9"><input type="text" name="display_name" id="display_name" value="{tmpl_var name='display_name'}" class="form-control" /></div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{tmpl_var name='description_txt'}</label>
                <div class="col-sm-9"><textarea name="description" id="description" rows="3" class="form-control">{tmpl_var name='description'}</textarea></div>
            </div>

            <div class="form-group">
                <label for="owner_email" class="col-sm-3 control-label">{tmpl_var name='owner_email_txt'}</label>
                <div class="col-sm-9"><input type="text" name="owner_email" id="owner_email" value="{tmpl_var name='owner_email'}" class="form-control" /></div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{tmpl_var name='password_txt'}</label>
                <div class="col-sm-9">
				<div class="input-group">
					<input type="password" name="password" id="password" value="{tmpl_var name='password'}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="generatePassword('password','repeat_password');">{tmpl_var name='generate_password_txt'}</button>
					</span>
				</div>
				</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='password_strength_txt'}</label>
                <div class="col-sm-9 checkbox">
                <div id="passBar"></div>
                <span id="passText">&nbsp;</span>
                </div>
            </div>
            <div class="form-group">
                <label for="repeat_password" class="col-sm-3 control-label">{tmpl_var name='repeat_password_txt'}</label>
                <div class="col-sm-9"><input type="password" name="repeat_password" id="repeat_password" value="" class="form-control" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" /></div>
            </div>
            <div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
					<div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
				</div>
			</div>

            <div class="form-group">
                <label for="active" class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
                <div class="col-sm-9">{tmpl_var name='active'}</div>
            </div>

            <tmpl_if name="id">
            <div class="form-group">
                <label class="col-sm-3 control-label">{tmpl_var name='management_txt'}</label>
                <div class="col-sm-9">
                    <a href="{tmpl_var name='postorius_link'}" target="_blank" class="btn btn-default"><span class="icon icon-mail"></span> {tmpl_var name='btn_postorius_txt'}</a>
                    <a href="{tmpl_var name='hyperkitty_link'}" target="_blank" class="btn btn-default"><span class="icon icon-list"></span> {tmpl_var name='btn_archives_txt'}</a>
                </div>
            </div>
            </tmpl_if>

        <input type="hidden" name="id" value="{tmpl_var name='id'}">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mailmanthree_list_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mailmanthree_list_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div></div>
